.background-pattern {
    width:auto;
    height: 80px;
    background-image: url("../img/pattern.png");
    background-size: cover;
    background-size: 300px;
    background-repeat: repeat-x;
    background-color: rgb(78,160,255);    
}

.logo {
    width: 200px;
    height: 100px;
    background-size: contain;
    padding-left: 10px;
}

h1 {
    margin-bottom: 0px;
}

/* text under the title */
.grey-text {
    font-size: 17px;
    color: rgb(160,160,160);
    margin-top: 0px;
}

#blue-text {
    color: rgb(69,183,233);
}

/* text under the pictures */
.picturetext {
    font-size: 12px;
    margin-block: 0px;
}
/* setting table */

 table {
    width: 1000px;
    height: 180px;
    border-spacing:0px;
 }

.th {
    text-align: left;
    width: 25%;
}

.lightblue-row {
    background-color: rgb(177,229,242);
}

.blue-row {
    background-color: rgb(32,169,229);
    color: white;
}

/* footer setting */
.footer {
    width: 250px;
    height: 170px;
    background-size: contain;
    margin-block: 10px;
}

.img1 {
    background-image: url("../img/monitor.jpg");
}

.img2 {
    background-image: url("../img/graph.jpg");
}

.text-footer {
    color: white;
    font-weight: 800;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    margin-block: 0px;
}

h4 {
    color: rgb(141, 141, 141);
    margin-block: 5px;
}

/* highlited main text */

.highlight {
    background-color: yellow;
}

/* list padding */
ul {
    padding-left: 12px;
}